.message{
         
          display: flex;
          flex-direction: column;
          margin-top: 20px;
         
}

.messageTop{
          display: flex;
          flex-direction: row;
}
.messageTop.own {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order of elements */
}

.messageTop.own .avatar {
  margin-left: auto;
}
      

      
      .messages {
        background-color: rgba(41, 38, 38, 0.812);
  border-radius: 20px;
  padding: 10px;
  max-width: 300px;
  margin-left: 10px;
  word-wrap: break-word;
        }
.messageBottom{
          margin-top: 10px;
          display: flex;
          flex-direction: end;
}

.message.own{
          align-items: flex-end;

}
.message.own .messages {
  background-color: rgba(255, 255, 255, 0.812);
  border-radius: 20px;
  padding: 10px;
  max-width: 300px;
  margin-right: 10px;
  color: black;
  word-wrap: break-word;
   
          
        }
.chatBoxtop{
height: 400px;
}