          .container {
                    width: 105px;
                    height: 85px;
                    background-color: #474b47;
                    border-radius: 10px;
                    position: relative;
                    box-shadow: 5px 5px 0 0 #464441;
                    transition: transform 2ms ease-in;
          }
          .container:hover {
                    transform: scale(0.9);
                  }
          
          .plate {
                    width: fit-content;
          }
          
          .plate .black,
          .plate .white,
          .plate .center,
          .plate .border {
                    border-radius: 100%;
          }
          
          .container,
          .plate .black,
          .plate .white,
          .plate .border {
                    display: flex;
                    align-items: center;
                    justify-content: center;
          }
          
          .plate .black {
                    width: 80px;
                    height: 80px;
                    background-color: #1b1a19;
                    animation: rotation 2s infinite linear;
          }
          
          @keyframes rotation {
                    from {
                    transform: rotate(0deg);
                    }
          
                    to {
                    transform: rotate(359deg);
                    }
          }
          
          .plate .white {
                    width: 40px;
                    height: 40px;
                    background-color: #2d2b28;
          }
          
          .plate .center {
                    width: 5px;
                    height: 5px;
                    background-color: #131212;
          }
          
          
          
          .player {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: fit-content;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin-bottom: 8px;
                    margin-right: 8px;
                    rotate: -45deg;
          }
          
          .player .circ {
                    width: 15px;
                    height: 15px;
                    background-color: #373531;
                    border-radius: 100%;
                    z-index: 1;
          }
          
          .player .rect {
                    width: 20px;
                    height: 55px;
                    background-color: #2f292085;
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 5px;
          }
          